{% extends "main.html" %}

{% block content %}  
{% include "navbar.html" %}  
    <!-- form -->
<div class="mt8">
    <form action="" class="form">
        
        <label for="">Email</label>
        <input type="email" name="" id="" placeholder="Enter email"> 

        <label for="">Password</label>
        <input type="password" name="" id="" placeholder="Enter password">

        <label for="">Confirm password</label>
        <input type="password" name="" id="" placeholder="Confirm password">

        <button type="submit" class="btn">Create Now</button>
        <p>Already have an account <a href="{% url 'login' %}">login now</a></p>
    </form>
</div>
{% include "footer.html" %}
{% endblock content %}