{% extends "main.html" %}

{% block content %}
    {% include "navbar.html"%}
    <div class="mt8">
        <div class="" style="max-width: 900px; margin: 0 auto; line-height: 2.5;">
            <h1>About ASKLEAD</h1> <br>

            <b>Welcome to ASKLEAD – Your Gateway to African Talent!</b>

            <h3><u>Our Mission</u></h3>
            <p>
                At ASKLEAD, we are on a mission to empower the young and vibrant talent pool of Africa. We believe that every individual possesses unique skills and talents, waiting to be discovered and harnessed. Our platform is designed to bridge the gap between young African talents and potential employers, fostering a brighter future for both.
            </p>    

            <b>Unlocking Potential</b>
            <p>
                Africa is brimming with creativity, innovation, and untapped potential. ASKLEAD serves as the ultimate platform for talented individuals to showcase their skills and abilities across a wide range of fields, including technology, arts, business, and more. We aim to unearth hidden talents and provide them with the recognition they deserve.
            </p>
            

            <b>Connecting Talent to Opportunity</b>
            <p>
                For employers seeking top-notch talent, ASKLEAD is your go-to destination. We offer a curated selection of skilled individuals who are ready to contribute their expertise to your projects. By connecting talent to opportunity, we aim to drive economic growth, foster innovation, and transform lives.
            </p>
            

            <h3><u>What Sets Us Apart</u></h3>

            <p><b>Diverse Talent Pool:</b> ASKLEAD is proud to represent the rich diversity of Africa. Our talent pool includes individuals from all walks of life, with unique backgrounds, experiences, and skills.</p>

            Quality Assurance: We ensure that all talent profiles are carefully vetted, so you can trust in the quality and authenticity of the skills displayed on our platform.

            <p><b>Community Building:</b> ASKLEAD is more than just a platform; it's a community where talent can connect, learn, and grow together.</p>

            <p><b>Continuous Learning:</b> We encourage skill development and provide resources to help talent enhance their abilities and stay up-to-date in their respective fields.</p>

            <b>The ASKLEAD Movement</b>
            <p>
                Whether you're a talented individual eager to showcase your skills or an employer in search of exceptional talent, ASKLEAD is here to help you succeed. Together, we can harness the immense potential of Africa's youth and shape a brighter future.
            </p>
            
        </div>
    </div>
    {% include "footer.html" %}
{% endblock content %}